.btn-style {
    background-color: rgb(44, 127, 221);
}
.icon-style {
    color: black;
}

.low {
    background-color: rgb(37, 103, 226);
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.very-high {
    background-color: red;
}

#current-uv {
    border-radius: 3px;
} 

.city-list-style {
    background-color: hsl(202, 87%, 58%);
    border-radius: 3px;
    cursor: pointer;
} 